<footer>
    <div class="footer-content-grid">
        <div class="social-media">
            <h2>Links:</h2>
            <ul class="footer-links">
                <li><a href="https://github.com/cylabcyberautonomy">GitHub</a></li>
                <li><a href="https://www.cylab.cmu.edu/research/cyber-autonomy-initiative/index.html">CyLab Site</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h2>Contact:</h2>
            <ul class="footer-links">
                <li>vsekar[at]cmu.edu</li>
                <li>mpmorris[at]cs.cmu.edu</li>
            </ul>
        </div>
    </div>
</footer>
