<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {%- capture pagetitle -%}
    {%- if page.title -%}{{ page.title | strip_html | xml_escape }}{%- else -%}{{ site.title | strip_html | xml_escape }}{%- endif -%}
  {%- endcapture -%}
  {%- capture title -%}
    {%- if site.title != pagetitle -%}{{ pagetitle }} | {{ site.title }}{%- else -%}{{ pagetitle }}{%- endif -%}
  {%- endcapture -%}
  {%- capture description -%}
    {%- if page.description -%}{{ page.description | strip_html | xml_escape }}{%- elsif page.subtitle -%}{{ page.subtitle | strip_html | xml_escape }}{%- else -%}{{ page.content | strip_html | xml_escape | truncatewords: 50 | strip }}{%- endif -%}
  {%- endcapture -%}

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/base.css' | relative_url }}">

  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  {% if page.id %}
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% else %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% endif %}
</head>
